*{
	box-sizing: border-box;
}

body{
	background-color: var(--bg-color);
	color: var(--text-color);
}

body.dark{
	--bg-color: #{$black};
	--text-color: #{$white};
}


svg{
	fill: var(--text-color);
}
